<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCbR023zoQ_1zZoVPQqG5cnSEOZXkKcRlY</string>
	<key>GCM_SENDER_ID</key>
	<string>193865604929</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flowwmate</string>
	<key>PROJECT_ID</key>
	<string>flowwmate</string>
	<key>STORAGE_BUCKET</key>
	<string>flowwmate.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:193865604929:ios:14ce923d3b9dbf14facbc0</string>
</dict>
</plist>